<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.userMapper">
	<!-- 根据Id查询用户 -->
	<select id="findByLogin" 
	parameterType="com.demo.entity.User" 
	resultType="com.demo.entity.User">
		select * 
		from user
		where name = #{name} and pwd=#{pwd}
	</select>
	
	<select id="findAll" resultType="com.demo.entity.User">
		select * 
		from user
	</select>
	<select id="findById" 
			parameterType="Integer"
	resultType="com.demo.entity.User">
		select * 
		from user
		where id = #{id}
	</select>	
	
	<update id="update"
			parameterType="com.demo.entity.User"
	>
		update user
		set name = #{name} , pwd = #{pwd}
		where id = #{id}
	</update>
</mapper>